<div class="fileExplorerApplication">
	<div class="sidebar">
		<div class="side_menu">
			
			<div class="menuitem apps selected init" data-literal='{"scope":"main.menu","name":"lbl_menu_appexplorer"}'>
				<div class="ico" />
			</div>
			<div class="menuitem shared" data-literal='{"scope":"main.menu","name":"lbl_menu_sharedexplorer"}'>
				<div class="ico" />
			</div>
			<div class="menuitem system" data-literal='{"scope":"main.menu","name":"lbl_menu_systemexplorer"}'>
				<div class="ico" />
				<div class="ro" />
			</div>
			<div class="menuitem full" data-literal='{"scope":"main.menu","name":"lbl_menu_fullexplorer"}'>
				<div class="ico" />
				<div class="ro" />
			</div>
		</div>
	</div>
	<div id="fxMainContainer" class="mainContent" />
</div>